.custom-button {
    background-color: #3eadceae; 
    color: white; 
    border: none; 
    border-radius: 25px; 
    padding: 10px 20px; 
    transition: background-color 0.3s; 
}

.custom-button:hover {
    background-color: #024b63e8; 
}
