.custom-button {
    background-color: #b841aad7; 
    color: white; 
    border: none;
    border-radius: 25px; 
    padding: 10px 20px; 
    transition: background-color 0.3s; 
}

.custom-button:hover {
    background-color: #740855e8; 
}
